:root {
  --redish: #ee2d1c;
  --blackish: #4c4c51;
  --blueish: #889393;
}

.bg-cover {
  background-image: url("./images/hero-image.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}

.jumbotron.bg-cover.jumbotron-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  z-index: 1;
}

button.navbar-toggler,
.navbar-brand,
.card-footer {
  margin: 1rem 5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  margin: 0 5rem;
}

.nav-item,
.footer-item {
  padding: 0 1rem;
  font-size: 22px;
  line-height: 28px;
}

.footer-item .footer-link {
  color: var(--blueish);
  text-decoration: none;
}

ul.footer-nav {
  list-style-type: none; /* Remove bullets */
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item .nav-link {
  color: white;
}

.header {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  padding: 22px;
}

p.lead {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  padding-bottom: 22px;
}

.lead .custom-btn {
  background-color: var(--redish);
  min-height: 55px;
  font-size: 22px;
  border-radius: 50px;
  color: #fff;
}

/* Video Card */
.card-text {
  overflow: none;
}
