.bg-cover {
  background-image: url("./images/hero-image.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center top 50px;
  transform: scale(1.25);
  z-index: -1;
}

.navbar {
  z-index: 1;
}
