.bg-cover {
  background-image: url("./images/hero-image.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}

.navbar {
  z-index: 1;
}

button.navbar-toggler,
.navbar-brand,
.card-footer {
  margin: 1rem 5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  margin: 0 5rem;
}

.nav-item,
.footer-item {
  padding: 0 1rem;
}

.footer-item .footer-link {
  color: #88939e;
  text-decoration: none;
}

ul.footer-nav {
  list-style-type: none; /* Remove bullets */
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item .nav-link {
  color: white;
}
